<div class="jumbotron text-center">
	<h1>Desean Abraham</h1>
	<h2> Technologist, Computer Science Student </h2>
</div>


<div class="summary">
	<h2> About Me </h2>
	<div id="text-wrap">
		<p> In aliquam lectus vel leo laoreet, ac aliquam diam sollicitudin. Morbi ut mollis metus. Phasellus id diam ut nulla maximus pharetra non tincidunt eros. Aliquam a est fermentum, posuere quam vitae, ullamcorper neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse faucibus metus at sollicitudin sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer et aliquam purus, vitae tincidunt est. Phasellus eget neque lorem. Sed mi ex, mattis nec mauris vel, ultricies fermentum leo. Aenean sed feugiat mauris, at hendrerit ipsum. Nulla ac nibh lectus.</p>
	</div>
</div>

<div id="technical-skills">
	
</div>

